<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Saucedemo Test Suite">
    <test verbose="2" name="/Users/tstef/IdeaProjects/sauce-demo-checkout-tests">
        <classes>
            <class name="CheckoutFlowTest">
                <methods>
                    <include name="testLogin"/>
                    <include name="testAddBackpackToCart"/>
                    <include name="testAddFleeceJacketToCart"/>
                    <include name="testCart"/>
                    <include name="testCheckout"/>
                    <include name="testFinalCheckout"/>
                    <include name="testOrderCompletion"/>
                    <include name="testDummy"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>